#include ".cache/wal/colors.Xresources"
!Need to install pywal

URxvt*termName: rxvt-unicode-256color
URxvt*buffered: false
URxvt.intensityStyles: false
URxvt.font: xft:SauceCodePro\ Nerd\ Font\ Mono:size=10
URxvt.scrollBar: false
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt*geometry:				103x20

URxvt*loginShell:  true
URxvt*fading:  30
URxvt.depth: 32

URxvt.internalBorder: 0
URxvt.externalBorder: 0

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

